body{
    height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.indexheader{
    text-align: center;
    text-transform: uppercase;
    font-size: 170%;
}
header{
    text-align: center;
    font-size: 150%;
}
.indexmain{
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    padding: 1%;
}
.fat, .green, .legume, .grain, .fruit, .veggie{
    background: rgba(27, 90, 15, 0.8);
    text-align: center;
    color: #ffffff;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 20px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    }
.fat:hover, .green:hover, .legume:hover, .grain:hover, .fruit:hover, .veggie:hover{
    background: rgb(31, 63, 5);
    padding-left: 15px;
    padding-right: 15px;
}
.fat:focus, .green:focus, .legume:focus, .grain:focus, .fruit:focus, .veggie:focus{
    background: rgb(31, 63, 5);
    padding-left: 15px;
    padding-right: 15px;
}
.green, .legume {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    width: 18%;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.grain {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fruit, .veggie {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    width: 43%;
}
.wrapper2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
footer{
    text-align: center;
    margin-top: auto;
}
.center{
    display: inline-block;
    width: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.center ul a{
    background-color: #ffffff;
    padding: 5px;
    margin: 1%;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.5s;
    border-radius: 3px;
}
.center ul a:hover{
    background-color: rgb(219, 219, 99);
    padding-left: 10px;
    padding-right: 10px;
}
.center ul{
    list-style-type: none;
    color: #ffffff;
    line-height: 3;
}
main{
    background-color: rgb(11, 61, 11);
}
.left{
    width: 35%;
    float: left;
}
.right{
    width: 35%;
    display: inline-block;
    float: right;
}
img{
    width: 94%;
    margin: 2%;
    border: 3px solid #ffffff;
}

